.Color {
  min-height: 40px;
  min-width: 40px;
  margin-right: 1rem;

  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  &:not(.selected) {
    padding: 1px;
  }

  &.selected {
    border: 1px solid #4437C9FF;
  }
}
