.Option {
  min-width: 100px;

  text-align: center;
  background: #ccc;

  padding: 0.5rem;
  margin-right: 1rem;

  border: none;

  &:not([disabled]) {
    &:hover, &.selected {
      cursor: pointer;
      color:white;
      background: #282c34;
    }
  }
}
