.Container {
  height: 100%;

  max-width: 1280px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.LayoutInner {
  display: grid;
  grid-template-columns: 6fr 3fr;
  background: #fff;
  padding: 25px 35px;
  border: 1px solid #EDEEF0;
  border-radius: 8px;
}
